<div class="container">
  <% if @wolf.errors.any? %>
  	<% @wolf.errors.full_messages.each do |m| %>
  		<p>Error: <%= m %></p>
  	<% end %>
  <% end %>


  <div class="row">
    <form action="/wolves" method="post" class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Name" id="name" type="text" class="validate">
        </div>
      </div>      
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Profile Picture URL" id="image_url" type="text" class="validate">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Bio" id="description" type="text" class="validate">
        </div>
      </div>
    </form>
  </div>
</div>