<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Howlr</title>

    <!-- CSS  -->
    <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

      <link rel="stylesheet" type="text/css" href="<%= url("/css/style.css")%>">
  </head>
  <body>
    <!-- Pre Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>
     
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
     
    </div>

    <!--Navigation-->
     <div class="navbar-fixed">
        <nav id="nav_f" class="default_color" role="navigation">
            <div class="container">
                <div class="nav-wrapper">
                <a href="/wolves" id="logo-container" class="brand-logo">Howlr</a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="/wolves">Packs</a></li>
                        <li><a href="/howls">Howls</a></li>
                    </ul>
                    <ul id="nav-mobile" class="side-nav">
                        <li><a href="/">Howlr</a></li>
                        <li><a href="/wolves">Packs</a></li>
                        <li><a href="/howls">Howls</a></li>
                    </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                </div>
            </div>
        </nav>
    </div>
    <%= yield %>
    <footer></footer>
  </body>
</html>